# Ignorar arquivos auxiliares do LaTeX
*.aux
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc

# Ignorar arquivos Zone.Identifier (caso tenham vindo de outro sistema)
*Zone.Identifier

# Opcional: ignorar PDFs gerados automaticamente
# *.pdf
